@use '@angular/material' as mat;
@use './styles/variables' as vars;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #303030;
  color: #fff;
}

:root {
  --navbar-height: 64px;
  --header-height: 3rem;
}

header {
    display: block;
    width: 100%;
    height:var(--header-height);
}
main {
    margin-top: var(--header-height);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}